{
  "extends": [
    "airbnb-typescript/base"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "all"
    ],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "template-curly-spacing": "error",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "func-names": "off",
    "no-console": ["error", {
      "allow": ["info", "warn", "error"]
    }],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": true,
        "classes": false
      }
    ],
    "padded-blocks": [
      "error",
      {
        "blocks": "never"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
