.messenger {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;

  &__aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: #fbfbfb;
    flex: 0 0 310px;
    max-width: 310px;
    border-right: 1px solid #eaeaea;
  }
  &__aside-head {
    padding: 15px 10px;
    flex: 0 0 auto;
    border-bottom: 1px solid #eaeaea;
  }
  &__aside-body {
    flex: 0 1 auto;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
  &__main {
    flex: 1 1 auto;
  }
  &__user {
    text-align: right;
    margin-bottom: 15px;
  }
  &__user-link {
    display: inline-block;
    padding-right: 15px;
    color: #999;
    font-size: 12px;
    line-height: 15px;
    background: url("../../../../static/images/icons/arrow-right.svg") center right no-repeat;
    background-size: auto 8px;

    &:hover {
      color: #3369f3;
    }
  }
  &__empty {
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    padding: 20px;
  }
  &__empty-title {
    color: #999;
  }
}
