.profile
	aside.profile__aside
		button.profile__back(data-click="click:back")
			.profile__back-icon
				img(src="/images/icons/back.svg")
	main.profile__main
		.profile__head(data-ref="head")
		.profile__body(data-ref="body")
