@import "./src/common/styles/variables/fonts";

.message {
  color: #1e1e1e;
  background: #F8F8F8;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 15px;

  &.message--blue {
    background: #E4EDFD;
  }
}
