@import "./src/common/styles/variables/fonts";

.form-auth {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 6px rgba(#000, 0.14);
  min-height: 450px;

  &__head {
    text-align: center;
    margin-bottom: 40px;
  }
  &__body {
    flex: 1 0 auto;
  }
  &__footer {
    text-align: center;
    margin-top: 40px;
  }
  &__title {
    font-size: 20px;
    font-weight: $font-weight-medium;
    color: #1e1e1e;
  }
  &__field {
    margin-bottom: 20px;
  }
  &__errors,
  &__error {
    display: block;
    padding: 0;
    margin: 0;
  }
  &__error {
    font-size: 0.7em;
    color: #ff2f2f;
    font-weight: $font-weight-medium;
  }
}
