@import "./src/common/styles/variables/fonts";

.page-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  &__title {
    font-size: 40px;
  }
  &__body {
    font-size: 20px;
  }
  &__footer {
    margin-top: 50px;
  }
}
